@using FAMAndIMS.Data.Model.InventoryManagementModel.PurchaseItemModel
@using FAMAndIMS.Data.Model.Paging
@using FAMAndIMS.Models.Pagination
@model PagedResponse<PurchaseItemListModel>
@{
    int Sn = 1;
}
<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Item Name</th>
            <th scope="col">Unit</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col">Purchase Amount</th>
            <th scope="col">Vat Amount</th>
            <th scope="col">Vendor</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Purchase Date BS</th>
            <th scope="col">Is Active </th>
            <th scope="col">Action  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">@Sn</th>
                <td> @item.ItemName </td>
                <td> @item.Unit</td>
                <td> @item.Quantity</td>
                <td> @item.Rate</td>
                <td> @item.PurchaseAmount</td>
                <td> @item.VatAmount</td>
                <td> @item.Vendor</td>
                <td> @item.PurchaseDate.ToString("yyyy-MM-dd")</td>
                <td> @item.PurchaseDateBS</td>
                @if (ViewBag.update)
                {
                    @if (item.IsActive)
                    {
                        <td>
                            <div class="form-check form-switch">
                                <input asp-for="@item.IsActive" class="form-check-input bg-success statusCheckBox" type="checkbox" id="" onchange="changeStatus(@item.Id, this.checked,'PurchaseItem','UpdateStatus')">
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="form-check form-switch ">
                                <input asp-for="@item.IsActive" class="form-check-input bg-danger statusCheckBox" type="checkbox" id="" onchange="changeStatus(@item.Id, this.checked,'PurchaseItem','UpdateStatus')">
                            </div>
                        </td>
                    }
                }
                <td>
                    @if (ViewBag.update == true)
                    {
                        <button id="bEdit" style="cursor: pointer;" type="button" class="btn" data-toggle="tooltip" title="Edit SubCategory" onclick="ShowPopUp('@Url.Action("UpdatePurchaseItem", "PurchaseItem", new { Id = item.Id })', 'Edit PurchaseItem','modal-dialog modal-md')"><i class="ri-edit-2-line"></i></button>
                    }
                    @if (ViewBag.delete == true)
                    {
                        <button id="bEdit" style="cursor: pointer;" type="button" class="btn" data-toggle="tooltip" title="Delete SubCategory" onclick="ShowPopUp('@Url.Action("DeletePurchaseItem", "PurchaseItem", new { Id = item.Id })', 'Delete PurchaseItem','modal-dialog modal-md')"><i class="ri-delete-bin-line"></i></button>
                    }
                </td>
            </tr>
            Sn = Sn + 1;
        }


    </tbody>
</table>
<partial name="_PaginationFooter"
         model="new PaginationFooter(Model.PageNumber, Model.PageSize, Model.Items.Count(), Model.FilteredCount, Model.TotalCount, Model.TotalPages)" />