@using FAMAndIMS.Data.Model.InventoryManagementModel.StockModel
@using FAMAndIMS.Data.Model.Paging
@model PagedResponse<StockListModel>

<div class="d-flex align-items-center justify-content-between mb-4">
    <div>
        <ol class="breadcrumb fs-sm mb-1">
            <li class="breadcrumb-item"><a href="#">Stock</a></li>
            <li class="breadcrumb-item active" aria-current="page">Stock</li>
        </ol>
    </div>
</div>


<div class="card card-one mt-3">
    <div class="card-header">
        <h6 class="card-title">Stock</h6>
        <nav class="nav nav-icon nav-icon-sm ms-auto">
            <div class="m-2">
                <a id="btnexportexcelStockList" asp-controller="Stock" asp-action="" value="@ViewBag.IsExportExcel" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Export To Excell"><i data-placement="top" data-original-title="Export To Excell" data-feather="file-text"></i>Excel</a>
            </div>
            <div class="m-2">
                <a id="btnexportPdfStockList" value="@ViewBag.IsExportPdf" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Export To Pdf"><i data-feather="file-text"></i>PDF</a>
            </div>
            <div class="m-2">
                <a id="btnexportcsvStockList" value="@ViewBag.IsExportCSV" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Export To Csv" data-placement="top"><i data-feather="file-text"></i>CSV</a>
            </div>
        </nav>
    </div>
    <div class="card-body p-3">
        <partial name="_PaginationHeader" />
        <div class="table-responsive" id="StockTableWrapper">
            <partial name="_StockIndex" model="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Initialize pagination settings object
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("Index", "Stock")',
                selector: '#StockTableWrapper'
            });

            // attach 'before' event handler to 'Pagination' object to get all field parameters for pagination
            // $(Pagination).on('before', function (e) {
            //     e.preventDefault();

            //     var usersFilterFormValues = $('#FormCashtypefilter').serializeArray();
            //     $.each(usersFilterFormValues, function (i, obj) {
            //         e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
            //     });

            //     e.payload.paramsBuilder.addParameters(getPaginationFieldParams());
            // });

            addUsersPageHandlers();
            addPaginationHandlers();
            function addUsersPageHandlers() {
                $('#btnexportexcelStockList').on('click', function (e) {
                    e.preventDefault();
                    var paramsA = {
                        IsExport: 1
                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("StockListExportExcell", "Stock")');
                    return false;
                });
                $('#btnexportPdfStockList').on('click', function (e) {
                    e.preventDefault();
                    var paramsA = {
                        IsExport: 1
                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("StockListsExportPdf", "Stock")');
                    return false;
                });
                $('#btnexportcsvStockList').on('click', function (e) {
                    e.preventDefault();
                    var paramsA = {
                        IsExport: 1
                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("StockListExportCsv", "Stock")');
                    return false;
                });
            }
        });

    </script>
}