@using FAMAndIMS.Data.Model.MenuManagerModel
@model SidebarMenuViewModel
@using System.Security.Claims

@{
    var user = User as ClaimsPrincipal;
    var roleName = user?.FindFirst("RoleName")?.Value;
}
<header>
    <div class="sidebar">
        <div class="sidebar-header">
            <a href="/home/index" class="sidebar-logo">fixedAsset</a>
        </div><!-- sidebar-header -->
        <div id="sidebarMenu" class="sidebar-body">

            @foreach (var mainParentMenu in Model.MainParentMenu.OrderBy(x=> x.DisplayOrder))
            {
                <div class="nav-group show">
                    <a href="#" class="nav-label">@mainParentMenu.Title</a>
                    <ul class="nav nav-sidebar">
                        <li class="nav-item">
                            @foreach (var subParentMenu in Model.ParentMenu.OrderBy(x=> x.DisplayOrder))
                            {
                                @if (mainParentMenu.Id == subParentMenu.MainParentId)
                                {
                                    <a href="@subParentMenu.MenuUrl" style="cursor: pointer;" class="nav-link @(subParentMenu.SubMenuItems.Count > 0 ? "has-sub" : "")"> <i data-feather="@subParentMenu.IconDataFeather" class="menu-icon me-2"></i>  <span>@subParentMenu.Title</span></a>
                                    @if (subParentMenu.SubMenuItems != null && subParentMenu.SubMenuItems.Count > 0)
                                    {
                                        <nav class="nav nav-sub">
                                            @foreach (var subMenus in subParentMenu.SubMenuItems.OrderBy(x=> x.DisplayOrder))
                                            {
                                                <a href="@subMenus.MenuUrl" style="cursor: pointer;" class="nav-sub-link"> @subMenus.Title</a>
                                            }
                                        </nav>
                                    }
                                }
                            }
                        </li>

                    </ul>
                </div>
            }
        </div><!-- sidebar-body -->

    </div><!-- sidebar -->

    <div class="header-main px-3 px-lg-4">
        <a id="menuSidebar" href="#" class="menu-link me-3 me-lg-4"><i class="ri-menu-2-fill"></i></a>

        <div class="me-auto">
        </div><!-- form-search -->

        <div class="dropdown dropdown-skin">
            <a href="#" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ri-settings-3-line"></i></a>
            <div class="dropdown-menu dropdown-menu-end mt-10-f">
                <label>Skin Mode</label>
                <nav id="skinMode" class="nav nav-skin">
                    <a href="#" class="nav-link active">Light</a>
                    <a href="#" class="nav-link">Dark</a>
                </nav>
                <hr>
                <label>Sidebar Skin</label>
                <nav id="sidebarSkin" class="nav nav-skin">
                    <a href="#" class="nav-link active">Default</a>
                    <a href="#" class="nav-link">Prime</a>
                    <a href="#" class="nav-link">Dark</a>
                </nav>

            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->

        <div class="dropdown dropdown-profile ms-3 ms-xl-4">
            <a href="#" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><div class="avatar online"><img src="/img/img14.jpg" alt=""></div></a>
            <div class="dropdown-menu dropdown-menu-end mt-10-f">
                <div class="dropdown-menu-body">
                    <h5 class="mb-1 text-dark fw-semibold">@User.Identity.Name</h5>
                    <p class="fs-sm text-secondary">@roleName</p>

                    @*                     <nav class="nav">
                    <a href="#"><i class="ri-profile-line"></i> View Profile</a>
                    </nav> *@
                    <hr>
                    <nav class="nav">
                        @*                         <a href="#"><i class="ri-question-line"></i> Help Center</a>
                        <a href="#"><i class="ri-user-settings-line"></i> Account Settings</a> *@
                        <a asp-controller="AdminLogin" asp-action="LogOut"><i class="ri-logout-box-r-line"></i> Log Out</a>
                    </nav>
                </div><!-- dropdown-menu-body -->
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
    </div><!-- header-main -->
</header>