@using FAMAndIMS.Data.Model.GlobalSettingModel.UnitModel
@using FAMAndIMS.Data.Model.Paging
@using FAMAndIMS.Models.Pagination
@model PagedResponse<UnitListModel>
@{
    int Sn = 1;
}
<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Unit Name</th>
            <th scope="col">Is Active </th>
            <th scope="col">Action  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">@Sn</th>
                <td>
                    @item.UnitName
                </td>
                @if (ViewBag.update)
                {
                    @if (item.IsActive)
                    {
                        <td>
                            <div class="form-check form-switch">
                                <input asp-for="@item.IsActive" class="form-check-input bg-success statusCheckBox" type="checkbox" id="" onchange="changeStatus(@item.Id, this.checked,'Unit','UpdateStatus')">
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="form-check form-switch ">
                                <input asp-for="@item.IsActive" class="form-check-input bg-danger statusCheckBox" type="checkbox" id="" onchange="changeStatus(@item.Id, this.checked,'Unit','UpdateStatus')">
                            </div>
                        </td>
                    }
                }
                else
                {
                    var colorClassName = item.IsActive == true ? "bg-success" : "bg-danger";
                    <td>
                        <div class="form-check form-switch ">
                            <input asp-for="@item.IsActive" class="form-check-input bg-danger statusCheckBox" type="checkbox" id="" readonly>
                        </div>
                    </td>
                }
                <td>
                    @if (ViewBag.update == true)
                    {
                        <button id="bEdit" style="cursor: pointer;" type="button" class="btn" data-toggle="tooltip" title="Edit Department" onclick="ShowPopUp('@Url.Action("UpdateUnit", "Unit", new { Id = item.Id })', 'Edit Unit','modal-dialog modal-md')"><i class="ri-edit-2-line"></i></button>

                        @* <a style="cursor: pointer;" onclick="ShowPopUp('@Url.Action("UpdateUnit","Unit",new {id=item.Id })','Edit Unit')" class="dropdown-item rename"><i class="ri-edit-2-line"></i> </a> *@
                    }
                    @if (ViewBag.delete == true)
                    {
                        <button id="bEdit" style="cursor: pointer;" type="button" class="btn" data-toggle="tooltip" title="Delete Unit" onclick="ShowPopUp('@Url.Action("DeleteUnit", "Unit", new { Id = item.Id })', 'Delete Unit','modal-dialog modal-md')"><i class="ri-delete-bin-line"></i> </button>

                        @* <a style="cursor: pointer;" onclick="ShowPopUp('@Url.Action("DeleteUnit","Unit",new {id=item.Id })','Delete Unit', 'modal-dialog modal-md')" class="dropdown-item delete"><i class="ri-delete-bin-line"></i> </a> *@
                    }
                </td>
            </tr>
            Sn = Sn + 1;
        }


    </tbody>
</table>
<partial name="_PaginationFooter"
         model="new PaginationFooter(Model.PageNumber, Model.PageSize, Model.Items.Count(), Model.FilteredCount, Model.TotalCount, Model.TotalPages)" />